.container
  %section.content-header
    %h1 Summary
    %small
  .row
    .pull-right.col-md-3
      = simple_form_for :para, url: dashboard_index_path, method: :get, remote: true do |f|
        .input-group.input-group-sm
          .input-group-addon
            %i.fa.fa-calendar
          = f.input :date, as: :string, input_html: { id: 'daterange-btn', class: 'btn btn-default control pull-right' }
          %span.input-group-btn
            = f.button :submit, class: 'btn btn-info btn-flat', value: 'Go!'
      .text-center
        = link_to dashboard_index_path(users: current_user.id), class: 'btn btn-flat' do
          Only you
        |
        = link_to dashboard_index_path, class: 'btn  btn-flat' do
          All Users
  %section.content
    .row
      #summary
        = render partial: 'summary', locals: { incomes: @incomes, expenses: @expenses, bills: @bills, expenses_by_day: @expenses_by_day, average_spent_per_day: @average_spent_per_day }