.row
  .col-md-8
    = render partial: "shared/flash"
    - if income.errors.any?
      - income.errors.full_messages.each do |message|
        %span.alert-danger= message

    = form_with model: income, data: { 'turbo' => 'false'} do |f|
      .card
        .card-body
          .mb-3
            = f.collection_select :user_id, User.all, :id, :email, {}, { class: "form-select", placeholder: "User" }
          .mb-3
            = f.date_field :operation_date, class: "form-control", placeholder: "Date"
          .mb-3
            = f.number_field :value, step: 0.01, class: "form-control", placeholder: "Value", autofocus: true
          .mb-3
            = f.collection_select :subcategory_id, Subcategory.where(category: Category.income), :id, :label, {}, { class: "form-select", placeholder: "Category" }
          .mb-3
            = f.text_area :description, class: "form-control", placeholder: "Description"
          = f.submit "Submit", class: "btn btn-primary"

