.box-body.table-responsive.no-padding
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th Title
        %th Description
        %th Subcategories
        %th
    %tbody
      - categories.each do |category|
        %tr
          %td= category.title
          %td= category.description
          %td
            %ul.list-group.list-group-horizontal
              - category.subcategories.each do |subcategory|
                %li.list-group-item= link_to subcategory.title, subcategory_path(subcategory)
          %td
            = link_to edit_category_path(category) do
              %span.badge.rounded-pill.bg-warning Edit
            = link_to category_path(category), method: :delete, data: { confirm: 'Are you sure?' } do
              %span.badge.rounded-pill.bg-danger Remove
      
