- if user_signed_in?
  %ul.nav.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3.justify-content-center
    %li.nav-item.mx-1
      = link_to '+ ADD EXPENSE', new_bill_path, class: 'btn btn-sm btn-outline-light'
    %li.nav-item.mx-1
      = link_to '+ ADD INCOME', new_income_path, class: 'btn btn-sm btn-outline-light'

  .dropdown.text-end
    = link_to '#', id: 'user-dropdown', class: 'd-block', 'aria-expanded': false, 'data-bs-toggle': "dropdown" do
      = image_tag(current_user.avatar || 'no-avatar.jpg', height: '32', width: '32',class: 'rounded-circle')
    %ul.dropdown-menu.text-small{'aria-labelledby' => 'user-dropdown'}
      %li
        %hr.dropdown-divider/
      %li
        = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'